.about-button {
    padding: 7px 25px;
    margin-top: 40px;
    border: unset;
    border-radius: 5px;
    color: #000000;
    z-index: 1;
    background: #ffbf00;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 800ms;
    overflow: hidden;
   }
   
   .about-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 800ms
   }
   
   .about-button:hover {
    color: #e8e8e8;
    border-radius: 20px;
   }
   
   .about-button:hover::before {
    width: 100%;
   }